# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
io_page/.dart_tool/
io_page/.packages

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

.DS_Store
